In [1]:
#数据置换和随机抽样
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

sampler = np.random.permutation(5)
sampler

array([4, 3, 1, 2, 0])

In [5]:
'''
numpy.random.permutation(x) Randomly permute a sequence, or return a permuted range.

if x is a multi-dimensional array, it is only shuffled along its first index;
给permutation一个矩阵，它会返回一个洗牌后的矩阵副本；而shuffle只是对一个矩阵进行洗牌，无返回值
'''
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [8]:
df.take(sampler)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19
3  12  13  14  15

In [2]:
#To select a random subset without replacement, you can use the sample method on Series and DataFrame
df.sample(n=3)

    0   1   2   3
2   8   9  10  11
1   4   5   6   7
4  16  17  18  19

In [4]:
#To generate a sample with replacement (to allow repeat choices), pass replace=True to sample
choice = pd.Series([5, 7, -1, 6, 4])
draws = choice.sample(n=10, replace=True)
draws

3    6
0    5
0    5
1    7
3    6
0    5
4    4
4    4
4    4
3    6
dtype: int64

In [ ]:
# np.random.permutation(),take()方法，sample方法();