In [9]:
#主要描述了replace方法的使用和常见的参数形式
import pandas as pd
import numpy as np
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [14]:
'''
用replace方法把序列中的-999替换成NaN,因为在一些情况下数据丢失或不合理被标记为-999，此时产生一个新的
序列（除非使用参数inplace=True,这样会在原来的序列中进行替换);
'''
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [15]:
#用NaN一次性替换多个值，即传递一个列表参数；
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [16]:
#用多个值对应替换相同数量的值，即传递两个列表参数；
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [13]:
#字典也可以作为传递的参数
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64